@import "colors.css";

html {
  scroll-behavior: smooth;
} 

body{
  margin: 0px auto;
  background-color:  var(--background-color);
  overflow: hidden;
}
button{
  cursor:crosshair;
}
.App {
  margin: 0px auto;
  position: relative;
}

table{
  padding: 0px;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells:hide;
}

table td{
  padding: 0px;
}

.Player{
  display:none;
}