@import "colors.css";

.Calculator{
  width: 101vw;
  height: 100vh;
  background: url("/image/layout/tlo-calc.jpg") no-repeat scroll center ;
  color: var(--sec-font-color);
}
.nav-calc{
  height:21vh;
}
.Presents-Calc{
  height:79vh;
  overflow:auto;
  scrollbar-width: none;
 
}

.Calculator-Back{
margin-left:50%;
transform:translateX(-50%);
transition-duration: 0.5s;
width:60px;
height:60px;
cursor:pointer;
}
.Calculator-Back:hover{
  transform:  translate(-50% ,5%)
              scale(1.2);
}



.Table-ButtonDelete button{
  cursor: pointer;
  background:none;
  border:none;
  color:var(--sec-font-color);
  font-size:20px;
  margin:3px;
  transition: 1s ;
  outline:none;
}
.Table-ButtonDelete button:hover {
  transform:scale(1.2);
  color: var(--decorate-color);
}
.Table-ButtonDelete-X button{
display:none;
}

input {
  outline:none;
  height:30px;
}
.Valute-Choise{
  display:block;
  margin-bottom:10px;
  margin-top:-60px;
  background:none;
  color:var(--sec-font-color);
  position: relative;
  margin-left:88%;
  border:none;
  box-shadow: 1px 2px 10px 2px black;
  
}
select option{
  background: #2e2e2e;
}
.Calculator-Form-inputCost , .Calculator-Form-inputQuantity,.Calculator-Form-inputSkinName{
background:rgb(63, 63, 63);
color:var(--sec-font-color);
display:block;
border:none;
border-radius:5px;
padding-left: 5px;
margin-left:50%;
transform: translate(-50%);
}
.Calculator-Form-inputCost,.Calculator-Form-inputQuantity,.Calculator-Form-inputSkinName{
  margin-bottom:10px;
}

.errorCost{
  display:block;
  color:var(--decorate-color);
  min-height:30px;
}

.Calculator-Form{
  margin-top:5%;
  margin-left:50%;
  transform: translate(-50%);
  text-align:center;
}
.Calculator-Form-textQuantity{
  margin:10px;
}


.Calculator-Table-Items{
  width:100%;
}

.Calculator-Table-Form{
  width:95%;
  margin:0px auto;

}


.Calculator-Resoult{
  font-size:25px;
}

                              /* TABLE*/
.Table-Form-Title-Index{
  width:5%;
}

.Table-Form-Title-NameSkin{
  width:30%
}

.Table-Form-Title-Cost,
.Table-Form-Title-Quantity,
.Table-Form-Title-Sumary{
  width:20%;
}

.Table-Form-Title-Delete{
  width:5%;
}
.Table-Form-Title-Delete-X{
  display:none;
}


.Table-ButtonDelete{
  text-align:center;
}

.Table-ButtonDelete button{
  font-size:17px;
}

.Calculator-Button-Box{
  display:block;
  width:100%;
  height:20px;
}

.Calculator-AllItem-ShowCost{
  float:right;
}
.Table-Sumary,
.Table-Cost,
.Table-Quantity{
text-align:right;
}


.Calculator-Form-inputSkinName,
.Calculator-Form-inputCost,
.Calculator-Form-inputQuantity{
  background:none;
  box-shadow: inset 1px 1px 1px 1px black;
}

.Calculator-Form-textCost,
.Calculator-Form-textQuantity{
  font-family: 'Arial Black';
  	color: #1c1c1d;
	background-color: none;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
}


.svg-wrapper {
  margin-top: 0;
  width: 150px;
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  background:none;
  border:none;
  cursor:pointer;
  transition: 1s all ease;
}
.Calculator-deleteAll{
  float:right;
  margin-right:2.5%;
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: var(--decorate-color);
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
  background:none;

}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: var(--decorate-color);
}
.svg-wrapper:hover{
  background: #49494b;
}



/* BUTTON  SPRAWDZ WSZYSTKIE */

.Calculator-Form-Button{
  background:none;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:15px;;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 10px;
}
.Calculator-Form-Button:hover{
  background:none;
  color:rgb(255, 255, 255);
}
.Calculator-Form-Button:before,.Calculator-Form-Button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: var(--decorate-color);
  transition:400ms ease all;
}
.Calculator-Form-Button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.Calculator-Form-Button:hover:before,.Calculator-Form-Button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.Calculator-Form-Box{
  background-size: 100% 100%;
  padding-bottom:20px;
}
.Calculator-ValueOneItem{
  min-height:120px;
  margin-left:15px;
}

/* LOGO COUNTER STRIKE */
.Calculator-Quantity{
  width:100%;
  text-align:center; 
}
.Calculator-LogoCS-IMG{
width:40%;
height:10%;
margin-left:40%;
transform:translate(-50%);
}
.Calculator-Title-Box{
width:100%;
text-align:center;
margin-top:30px;
color:var(--section-title);
font-family: cs-font;

}
@media only screen and (min-width:799px){
  .Table-Form-Title-Quantity::after{
    content: "QUANTITY";
  }
}


/* TABLET */
@media only screen and (max-width:1199px){
  .Calculator{
    width:100vw;
   padding-right:5vw;
   background: url(/image/layout/tlo-calc-phone.jpg) no-repeat scroll center;
   background-size: 100% 100%;
  }
  .Calculator-Title-Box{
    margin-top:40px;
  }
  .Valute-Choise{
    margin-left:5%;
    outline:none;
  }
   .Calculator-Back{
      margin-left:94%;
      margin-top:10px;
   }

  .Calculator-Form-Box{
   font-size:15px;
   width:90%;
   margin:0px auto;
   background:none;
  }
  .Calculator-Body{
    font-size:15px;
    width:90%;
   margin:auto;
   background:none;
   margin-bottom: 3vh;
  
  }

  .Calculator-Quantity{
    margin-top:50px;
    padding-bottom:5px;
  }

  .Calculator-ValueOneItem{
    margin-top:30px;
    text-align:center;
  }

  .Table-Form-Title-Quantity{
    width:0px;
  }

  .Table-Form-Title-Sumary,
  .Table-Form-Title-Index,
  .Table-Form-Title-NameSkin,
  .Table-Form-Title-Cost,
  .Table-Form-Title-Quantity,
  .Table-Form-Title-Delete-X{
    padding:5px;
  }

  .Calculator-Table-Form,.Table-Quantity,.Table-Cost,.Table-Sumary{
    text-align:center;
  }

  .Table-ButtonDelete button:hover {
    transform:scale(1.03);
    color: var(--sec-font-color);
  }

  .Table-Form-Title-Index{
    max-width:20px;
  }
  .Table-Form-Title-Quantity{
    max-width:80px;
  }
.Table-SkinName,.Table-Sumary,.Table-Cost{
  padding-left:10px;
  padding-right:10px;
  overflow: hidden;
  max-width:30px;
  word-wrap:break-word;
}
.Table-Form-Title-NameSkin,.Table-Form-Title-Cost{
  min-width:64px;
}
.Table-Form-Title-Delete-X{
  height:20px;
}
.Table-ButtonDelete-X button{
  text-align:center;
  display:block;
  cursor: pointer;
  background:none;
  border:none;
  color:var(--sec-font-color);
  font-size:20px;
  margin:3px;
  transition: 1s ;
  outline:none;
  padding-left:50%;
  transform:translateX(-50%);
  max-width:15px;
}

.Table-ButtonDelete-X button:hover{
    transform:scale(1)
    translateX(-50%);
    color: white;
}


.Table-ButtonDelete,.Table-Form-Title-Delete{
  display:none;
}
.Table-Form-Title-Delete-X{
  display:block;
}
.Calculator-Title-Box{
  margin-top:0px;
}
.nav-calc{
  height:18vh;
}
.Presents-Calc{
  height:82vh;
  overflow:auto;
  scrollbar-width: none;
}
}

/* PHONE */

@media only screen and (max-width:799px){
  .Table-Form-Title-Quantity::after{
    content: "PCS";
  }
.Table-ButtonDelete-X button{
  padding-left:1px;
  transform:translateX(-0%);
  margin:0px auto;
}

.Table-ButtonDelete-X button:hover{
    transform:scale(1)
    translateX(-0%);
    color: white;
}

.nav-calc{
  height:15vh;
}
.Presents-Calc{
  height:85vh;
  overflow:auto;
  scrollbar-width: none;
}
}

