.valute-choise{
  display:block;
  margin-bottom:10px;
  background:rgb(63, 63, 63);
  color:white;
  position: relative;
  margin-left:88%;
}

.table-item{
  display:block;
}
.errorCost{
  color:red;
}
