*{
  --background-color: #1f1f1f;
  --background-color2: #000000;
  --decorate-color: #e95547ed;
  --main-font-color:#acacacf3;
  --sec-font-color: #ffffff;
  --list-sec-color: #626262;
  --select-border-color: #ffffff;
  --section-title: #f9f9f9;

}
@font-face {
  font-family: "cs-font";
  src: url("/fonts/counter_strike/cs_regular.ttf");
  }


