@import "colors.css";

/* animacje */
@keyframes coin_flip {
  from {transform:rotateY(0deg)}
  to {transform:rotateY(3600deg);}
}

@keyframes coin_flip2 {
  from{transform:rotateY(0deg)}
  to{transform:rotateY(3780deg);}
}

@keyframes coin_flip3 {
  from {transform:rotateY(180deg)}
  to {transform:rotateY(3600deg);}
}

@keyframes coin_flip4 {
  from{transform:rotateY(180deg)}
  to{transform:rotateY(3780deg);}
}

.Anim-Play{
  animation: coin_flip 3s ease-out forwards;
} 

.Anim-Play2{
  animation: coin_flip2 3s ease-out forwards;
} 

.Anim2-Play{
  animation: coin_flip3 3s ease-out forwards;
} 

.Anim2-Play2{
  animation: coin_flip4 3s ease-out forwards;
} 

.Block{
  
}


/* homepage */
.Homepage{
  margin: 0px;
  width:100vw;
  height:100vh;
  background-color: var(--background-color2);
}

.Circle{
  position:absolute;
  top: 150vh;
  left: 150vw;
  width: 300px;
  height:300px;
  transform:  translate(-50%,-50%)
              scale(2.0);
  background-color: var(--background-color2);
  border-radius: 50%;
  z-index: 99;
}

.Animation-Box {
  width:256px;
  height:256px;
  perspective:500px;
  margin: 50%;
  -webkit-perspective:500px;
  transform:  translate(-50%,-50%);
  z-index: 100;
}

.Options-Box{
  position: relative;
  width: 39px;
  height: 30px;
  right: 15px;
  top: 15px;
  float: right;
  cursor: pointer;
  z-index: 101;
}

.Sound-ON{
  background: url('/image/layout/sound.png') no-repeat;
  background-size: cover;
}

.Sound-OFF{
  background: url('/image/layout/mute.png') no-repeat;
  background-size: cover;
}


.Coins {
  position:relative;
  width:100%;
  height:100%;
  text-align:center;
  transform-style:preserve-3d;
  -webkit-transform-style:preserve-3d;
  border-radius: 50%;
  cursor: pointer;
}

.Side1 {
  position:absolute;
  width:100%;
  height:100%;
  border-radius: 50%;
  background-size:100%;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

.Side2{
  position:absolute;
  width:100%;
  height:100%;
  z-index: 100;
  line-height:256px;
  border-radius: 50%;
  transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
}

.CT{
  background: url('/image/coins/ct.png') no-repeat;
  border-radius: 50%;
}

.TT{
  background: url('/image/coins/tt.png') no-repeat;
  border-radius: 50%;
}

.CTT{
  background: url('/image/coins/both.png') no-repeat;
  border-radius: 50%;
}

.Homepage .Image{
  margin: 0px;
  position:relative;
  width: 47.5vw;
  height: 45vh;
}

.Homepage .Image1{
  background: url('/image/layout/image1.jpg') no-repeat;
  background-size: cover;
  float: left;

}

.Homepage .Image2{
  background: url('/image/layout/image2.jpg') no-repeat;
  background-size: cover;
  float: right;
}

.Homepage .Empty{
 height: 10vh;
 width: 100vw;
 clear:both;
}

.Homepage .Image3{
  background: url('/image/layout/image3.jpg') no-repeat;
  background-size: cover;
  float: left;
}

.Homepage .Image4{
  background: url('/image/layout/image4.jpg') no-repeat;
  background-size: cover;
  float: right;
}

.Arrow{
  cursor:pointer;
  width: 60px;
  height: 60px;
  z-index: 1000;
  transition-duration: 0.5s;
}

.Arrow-Up{
  position: absolute;
  left: 150vw;
  top: 100vh;
  transform: translate(-50% ,5%);
  cursor: pointer;
}


.Arrow-Up:hover{
  transform:  translate(-50% ,5%)
              scale(1.2);
}

.Arrow-Down{
  position: absolute;
  left: 150vw;
  top: 200vh;
  transform: translate(-50% ,-105%);
}

.Arrow-Down:hover{
  transform: translate(-50% ,-105%)
              scale(1.2);
}


.Arrow-Left{
  position: absolute;
  left: 100vw;
  top: 150vh;
  transform: translate(5% ,-50%);
}

.Arrow-Left:hover{
  transform: translate(5% ,-50%)
              scale(1.2);
}

.Arrow-Right{
  position: absolute;
  left: 200vw;
  top: 150vh;
  transform: translate(-105% ,-50%);
}

.Arrow-Right:hover{
  transform: translate(-105% ,-50%)
              scale(1.2);
}

/* TABLET */

@media only screen and (max-width:1199px){
  .Circle{
    outline:none;
    transform:  translate(-50%,-50%)
                scale(1);
  }

}

/* PHONE */

@media only screen and (max-width:799px){
  .Homepage{
    height: 100vh;
    overflow-y:hidden;
  }
  .Circle{
    outline:none;
    transform:  translate(-50%,-50%)
    scale(0.8);
  }
}
