@import "colors.css";

.Menu {
  
  width: 400px;
  height: 400px;
  background: var(--menu-color);
  border-radius: 50%;
  position: fixed;
  top: 100%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.Menu-List{
  margin-top: 50px;
  margin-left: 50px;
}