@import "colors.css";



.Ranks{
  margin: 0px auto;
  padding: 0px;
  width:100vw;
  height:100vh;
  background-color:  var(--background-color);
  text-align:center;
}

.Ranks-Title{
  border-bottom:solid 1.5px var(--decorate-color);
  margin-bottom:20px;
  
}


.Button-box{
  display:block;

  height:50px;
  width:93%;
  margin:0px auto;
  
}
.Ranks-Back{
  width:60px;
  height:60px;
  left: 150vw;
  top: 99vh;
  transition-duration: 0.5s;
}

.Ranks-Box-Title{
  text-align:center;
  margin-top:0px;
  margin-bottom:40px;
  color:var(--section-title);
  font-size:35px;
  font-family: cs-font
}

.Ranks-Body{
  height:80vh;
  text-align:center;
  width:95%;
  margin:0px auto
}

.Ranks-AllTable-Box{

  margin: 0px auto;
}

.Ranks-Table-Box{
  width:33%;
  float:left;
  display:inline;
  font-size:15px;
  text-align:center;
  overflow:scroll;
  height: 70vh;
  overflow-x:hidden;
}
.Ranks-Table-Box::-webkit-scrollbar{
  background:var(--background-color)
}


.Ranks-Table-Box td{
  padding: 2px;
}

.Ranks-Table-Title{
  border:solid 1px;
  margin:0px 0px 0px 0px;
  padding: 5px 0px 10px 0px;
  font-family: "Arial Black";
}

.Ranks-Table{
  width:100%;
  margin-bottom:2px;
}

.Ranks table,
.Ranks th,
.Ranks td{
  border: 1px solid var( --select-border-color);
}

.Ranks-LogoCS-IMG{
  width:40%;
  height:10%;
  margin-left:50%;
  transform:translate(-65%);
  }


/* MM STYLES */
.MM-Table-Box{
  background: #2e2e2e;
  margin-bottom:20px;
}


.img-MM-rank{
width:128.8px;
height:46.6px;
}




/* WINGMAN STYLES */
.Wingman-Table-Box{
  background: #202020;
}


/* DANGER ZONE STYLES */
.DZ-Table-Box{
  background: #2e2e2e
}

::-webkit-scrollbar {
 background:none;
}

/* TABLET */

@media only screen and (max-width:1199px){

  .Ranks{
    min-height: 100vh ;
    margin-left:0px;
    
  }
  .Ranks-Body{
    overflow:scroll;
    overflow-x:hidden;
    height:80vh;
    scrollbar-width: none;
  }
 

  .Ranks-Body::-webkit-scrollbar{
    display:none;
  }
  .Ranks-LogoCS-IMG{
   margin-top:10px;
  }
  .Ranks-Box-Title{
    margin-bottom:20px;
  }
  .Ranks-Back {
    top:10vh;
    left:191vw
  }
  .MM-Table-Box{
    width:100%;
    height:100%;
    margin-bottom:20px;
    overflow:hidden;
  }
  .Wingman-Table-Box{
    width:100%;
    height:100%;
    margin-bottom:20px;
    overflow:hidden;
  }
  .DZ-Table-Box{
    width:100%;
    height:100%;
    overflow:hidden;
  }
}

/* PHONE */

@media only screen and (max-width:799px){
  .Ranks-Body{
    overflow:scroll;
    overflow-x:hidden;
    height:85%;
    margin-left:0px;
  }
  
}
