@import "colors.css";

@keyframes weapon_name {
  from { 
    font-size: 50px;
    padding: 8px;
    padding-top: 12%;
  }
  to { 
    font-size: 25px;
    padding: 8px;
  }
}

@keyframes show_stats1 {
  from { 
    visibility: hidden;
    opacity: 0;
  }
  to { 
    visibility: visible;
    opacity: 1;
  }
}

@keyframes show_stats2_1 {
  0% { 
    width:50vw;
  }
  100% { 
    width:90vw;
  }
}

@keyframes show_stats2_2 {
  from { 
    width: 0vw;
    visibility: hidden;
    opacity: 0;}
  to { 
    width: 40vw;
    visibility: visible;
    opacity: 1;
  }
}

.Weapons{
  color: var(--main-font-color);
  text-shadow: 0px 0px 2px black;
  margin: 0px auto;
  padding: 0px;
  width:100vw;
  height:100vh;
  overflow: scroll;
  overflow-X: hidden;
  background-color: var(--background-color);
}

.Weapons-Title{
  border-bottom:solid 1.5px var(--decorate-color);
  margin-bottom:20px;
}

.Weapons-Box-Title{
  text-align:center;
  margin-top:0px;
  margin-bottom:40px;
}

.Weapons-Title-CS-IMG{
  width:40%;
  height:10%;
  margin-left:50%;
  transform:translate(-50%);
  }
  .Ranks-Box-Title{
    font-family: "Counter-Strike Regular";
  }

.Sort {
  position: relative;
  margin-left: 80vw;
  margin-top: -12vh;
  margin-bottom: 2vh;
  width:220px;
  padding:2vh;
  }

.Sort-Title{
  width: 100px;
  text-align:right;
  margin-right: 10px;
}

.Sort-Select{
  font-size: 20px;
  border-radius:5px;
  width:120px;
  height:26px;
  text-align:center;
  box-shadow:none;
  color: var(--sec-font-color);
  background-color: var(--background-color);
  border: solid 1px var(--select-border-color);
  outline:none;
  box-shadow: 3px 3px 5px 2px black;
}
/* .Sort-Select{
  width: 150px;
  text-align:center;
} */



.Weapon{
  margin: 0px auto;
  margin-top:5px;
  margin-bottom: 5px;
  width:50vw;
  height: 180px;
  color: var(--sec-font-color);
  overflow: hidden;
}

.Weapon-CT-BG{
  background: url('/image/layout/ct-weapon-bg.jpg') no-repeat;
  background-size: 100% 100%;
}

.Weapon-TT-BG{
  background: url('/image/layout/tt-weapon-bg.jpg')  no-repeat;
  background-size: 100% 100%;
}

.Weapon-CT-TT-BG{
  background: url('/image/layout/both-weapon-bg.jpg')  no-repeat;
  background-size: 100% 100%;
}

.Weapon:hover{
  animation: show_stats2_1 2s forwards ease-in-out;
  animation-delay: 0.2s;
}

.Weapon:hover .Weapon-Name{
  animation:  weapon_name 2s forwards ease-in-out;
  animation-delay: 0.2s;
}

.Weapon:hover .Weapon-Stats1-Box1{
  animation:  show_stats1 2s forwards ease-in-out;
  animation-delay: 0.2s;
}


.Value{
  font-weight: 800;
}

.Weapon-Name{
  font-size: 50px;
  padding: 8px;
  padding-top: 12%;
  width: 100%;
  text-align: center;
  font-weight: 800;
}

.Weapon-Stats1{
  width: 20vw;
  height: 100%;
  text-align: center;
  float:left;
  
}

.Weapon-Stats1-Box1{
  width: 20vw;
  height: 100%;
  text-align: center;
  float:left;
  visibility: hidden;
  opacity: 0;
  margin: 0px auto;
}

.Weapon-Icon {
  width: 30vw;
  margin-top:15px;
  height: 120px;
  float:left;
}


.Weapon:hover .Weapon-Stats2{
  animation: show_stats2_2 2s forwards ease-in-out;
  animation-delay: 0.2s;
}


.Weapon-Stats2{
  width: 0vw;
  height: 100%;;
  float:left;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
}

.Weapon-Stats2-Box1{
  padding-top: 8px;
  width: 50%;
  height: 100%;;
  float: left;
  text-align: center;
}

.Weapon-Stats2-Box2{
  padding-top: 8px;
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
}

.Weapon-Back{
  position: absolute;
  top: 150vh;
  left: 99vw;
}